<!-- app/views/pokemons/index.html.erb -->

<nav class="bg-white shadow dark:bg-gray-800 fixed top-0 left-0 right-0 z-50 transition-transform duration-300 transform translate-y-0">
  <div class="flex items-center justify-center mx-auto text-gray-600 capitalize dark:text-gray-300">
    <%= link_to 'Home', root_path, class: 'text-gray-800 transition-colors duration-300 transform dark:text-gray-200 mx-1.5 sm:mx-6' %>
    <%= link_to 'Pokemons', pokemons_path, class: "text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 #{ 'border-blue-500' if current_page?(pokemons_path) } mx-1.5 sm:mx-6" %>
    <%= link_to 'Items', items_path, class: "text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 #{ 'border-blue-500' if current_page?(items_path) } mx-1.5 sm:mx-6" %>
    <%= link_to 'Moves', moves_path, class: "text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 #{ 'border-blue-500' if current_page?(moves_path) } mx-1.5 sm:mx-6" %>
    
    <%= form_with(url: filter_by_type_pokemons_path, method: "get") do |form| %>
      <div class="p-2 sm:p-6">
        <%= label_tag :type_id, "Filter by Type:" %>
        <%= select_tag :type_id, options_for_select([[ "All", "" ]] + Type.all.map { |t| [t.name, t.id] }), class: "form-select" %>
      </div>
    <% end %>

    <%= form_with(url: search_pokemons_path, method: "get") do |form| %>
      <div class="p-2 sm:p-6">
        <%= form.label :search, "Search Pokémon:" %>
        <%= form.text_field :search, value: params[:search], class: "form-input" %>
      </div>
    <% end %>

    <div class="p-2 sm:p-6">
      <div class="flex justify-center">
        <button type="submit" form="filter_and_search_form" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Apply Filter & Search
        </button>
      </div>
    </div>
  </div>
</nav>


<div class=" mx-auto p-8 bg-white shadow-md rounded-lg">
  <h1 class="text-2xl font-bold mb-4 text-gray-800">Pokemon Data Project</h1>

  <p class="mb-4 text-gray-600">This project is showcasing all the models I have made for this project and how I can use many-to-many relationships to show different things about different Pokémon.</p>
  
  <p class="text-gray-600">Some of the models I have are the Pokémon, type, and abilities. These three are the main features of this website. If you go to the Pokémon tab in the navigation, you can see all the Pokémon that we have, and if you click on a Pokémon, you can see its type and ability. If you were to click on the ability or the type then that will show you all the Pokémon with that type or ability.</p>
  
  <p class="text-gray-600">The other 2 models and tables I have are the items and moves. These are just tables that show all the moves possible in the game and all the items that are available in the game. Below I have a picture of my ERD so you can better see the relationships.</p>
  <br>
  <p class="text-gray-600 font-bold">The following are the endpoints I used to get all my data for my project:</p>
  <ul class="list-disc list-inside mb-4 text-gray-600">
    <li><a href="https://pokeapi.co/api/v2/pokemon" class="text-blue-500 hover:underline">https://pokeapi.co/api/v2/pokemon</a></li>
    <li><a href="https://pokeapi.co/api/v2/item/" class="text-blue-500 hover:underline">https://pokeapi.co/api/v2/item/</a></li>
    <li><a href="https://pokeapi.co/api/v2/move" class="text-blue-500 hover:underline">https://pokeapi.co/api/v2/move</a></li>
  </ul>
  
  <br>
  <%= image_tag 'Pokemon_ERD.png', alt: 'ERD Diagram', class: 'w-3/4 h-auto mx-auto' %>
</div>
