<!-- app/views/pokemons/index.html.erb -->

<nav class="bg-white shadow dark:bg-gray-800 fixed top-0 left-0 right-0 z-50 transition-transform duration-300 transform translate-y-0">
  <div class=" flex items-center justify-center  mx-auto text-gray-600 capitalize dark:text-gray-300">
    <%= link_to 'Home', root_path, class: 'text-gray-800 transition-colors duration-300 transform dark:text-gray-200 mx-1.5 sm:mx-6' %>
    <%= link_to 'Pokemons', pokemons_path, class: "text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 #{ 'border-blue-500' if current_page?(pokemons_path) } mx-1.5 sm:mx-6" %>
    <%= link_to 'Items', items_path, class: "text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 #{ 'border-blue-500' if current_page?(items_path) } mx-1.5 sm:mx-6" %>
    <%= link_to 'Moves', moves_path, class: "text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 #{ 'border-blue-500' if current_page?(moves_path) } mx-1.5 sm:mx-6" %>
    
    <%= form_with(url: filter_by_type_pokemons_path, method: "get") do |form| %>
      <div class="p-6">
        <%= label_tag :type_id, "Filter by Type:" %>
        <%= select_tag :type_id, options_for_select([[ "All", "" ]] + Type.all.map { |t| [t.name, t.id] }), class: "form-select" %>
        <%= submit_tag "Apply Filter", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
    <%= form_with(url: search_pokemons_path, method: "get") do |form| %>
      <div class="p-6">
        <%= form.label :search, "Search Pokémon:" %>
        <%= form.text_field :search, value: params[:search], class: "form-input" %>
        <%= form.submit "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
  <div><%= paginate @pokemons, window: 0 %></div>
  
</nav>



<div class="pt-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-7 gap-6">
  <% if @pokemons.any? %>
    <% @pokemons.each do |pokemon| %>
      <div class="rounded-xl shadow-lg p-6 flex flex-col bg-white transform transition-transform duration-300 hover:scale-105">
        <div class="rounded-xl overflow-hidden">
          <img class="w-full h-auto" src="<%= pokemon.images_url %>" alt="<%= pokemon.name %>">
        </div>
        <h5 class="font-medium mt-4 text-center text-xl"><%= link_to pokemon.name, pokemon_path(pokemon) %></h5>
        
      </div>
      
    <% end %>
  <% else %>
    <div class="text-center text-gray-600 mt-4">
      No Pokémon found.
    </div>
  <% end %>
</div>
