  <nav class="bg-white shadow dark:bg-gray-800 fixed top-0 left-0 right-0 z-50">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        <%= link_to 'home', root_path, class: 'text-gray-800 transition-colors duration-300 transform dark:text-gray-200 mx-1.5 sm:mx-6' %>
        <%= link_to 'Pokemons', pokemons_path, class: "text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 #{ 'border-blue-500' if current_page?(pokemons_path) } mx-1.5 sm:mx-6" %>
     <%= form_with(url: search_pokemons_path, method: "get") do |form| %>
      <div class="p-6">
        <%= form.label :search, "Search Pokémon:" %>
        <%= form.text_field :search, value: params[:search], class: "form-input" %>
        <%= form.submit "Search", class: "btn btn-primary ml-2" %>
      </div>
    <% end %>
</div>
</nav>

  
  <div class="max-w-xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden flex">  
    <div class="flex-none">
        <img class="w-64 " src="<%= @pokemon.images_url %>" alt="<%= @pokemon.name %>">
    </div>

    <!-- Pokemon Information -->
    <div class="p-6 flex-1">
        <h1 class="text-3xl font-bold mb-4"><%= @pokemon.name %></h1>
        
        <!-- Types -->
        <div class="mb-4">
            <p class="font-bold">Type:</p>
            <ul>
                <% @pokemon.types.each do |type| %>
                    <li><%= type.name %></li>
                <% end %>
            </ul>
        </div>
        
        <!-- Abilities -->
        <div>
            <p class="font-bold">Abilities:</p>
            <ul class="list-disc pl-4">
                <% @pokemon.abilities.each do |ability| %>
                    <li><%= ability.name %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
